@model IEnumerable<WebsiteSonGaming.Models.NHASANXUAT>

@{
    ViewBag.Title = "QuanLyNhaSanXuat";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản Lý Nhà Sản Xuất</h2>

<a href="@Url.Action("ThemMoiNhaSanXuat","Admin")">
    <input type="submit" class="btn btn-dark" value="Thêm NSX" />
</a>
<table class="table">
    <tr>
        <th>
            Tên Nhà Sản Xuất
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tennsx)
            </td>
            <td>
                @Html.ActionLink("Sửa", "SuaNhaSanXuat", new { id = item.mansx })
            </td>
            <td>
                @Html.ActionLink("Xóa", "XoaNhaSanXuat", new { id = item.mansx })
            </td>
        </tr>
    }

</table>
