
@{
    ViewBag.Title = "SuaThanhCong";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>SỬA THÀNH CÔNG</h2>

<a class="offset-1" href="@Url.Action("Index","Admin")">
    <input type="submit" class="btn btn-dark" value="Thoát" />
</a>