
@{
    ViewBag.Title = "DangKyThanhCong";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Chúc mừng bạn đã đăng ký thành công</h2>

@Html.ActionLink("Click vào đây để về lại trang chủ","Index","TrangChu")
