
@{
    ViewBag.Title = "DangNhapThanhCong";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Chúc mưng bạn đăng nhập thành công</h2>

<a href="@Url.Action("Index","TrangChu")">
    <input type="submit" class="btn btn-dark" value="Quay về trang chủ" />
</a>

<a href="@Url.Action("GioHang","GioHang")">
    <input type="submit" class="btn btn-dark" value="Quay về giỏ hàng" />
</a>

