
@{
    ViewBag.Title = "XacNhanMuaHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đơn hàng ghi nhận. Chờ phản hồi từ tôi nhé Ahihi!</h2>

<a href="@Url.Action("Index","TrangChu")">
    <input type="submit" class="btn btn-dark" value="Về trang chủ" />
</a>


