
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="col-lg-9">
    <div class="card mt-4">
        <img class="card-img-top img-fluid" src="~/Images/HinhSanPham/@Model.hinhsanpham" alt="@Model.tensanpham">
        <div class="card-body">
            <h3 class="card-title">@Model.tensanpham</h3>
            <h4>@String.Format("{0:0,0}", Model.giaban) VND </h4>
            <p class="card-text">@Model.thongtin</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
        </div>
    </div>
</div>

