
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="card mt-4">
    <img class="card-img-top img-fluid" src="~/Images/HinhSanPham/@Model.hinhsanpham" alt="">
    <div class="card-body">
        <h3 class="card-title">@Model.tensanpham</h3>
        <h4>@String.Format("{0:0,0}", Model.giaban) VND </h4>
        <p class="card-text">@Model.thongtin</p>
        <a href="@Url.Action("ThemGioHang","GioHang")">
            <input type="submit" class="btn btn-dark" value="Mua Hàng" />
        </a>
    </div>
</div>
