<li class="nav-item">
    <form class="form-inline my-2 my-lg-0 mr-lg-2">
        <div class="input-group">
            @using (Html.BeginForm("KetQuaTimKiem","TimKiem"))
            {
                <input class="form-control" name="txtTuKhoa" type="text" placeholder="Nhập sản phẩm cần tìm...">
                <span class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            }
        </div>
    </form>
</li>
