USE [master]
GO
/****** Object:  Database [SonGaming]    Script Date: 23/04/2018 2:03:47 PM ******/
CREATE DATABASE [SonGaming]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SonGaming', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SonGaming.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SonGaming_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SonGaming_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SonGaming].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SonGaming]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 23/04/2018 2:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[username] [nvarchar](250) NOT NULL,
	[password] [nvarchar](250) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 23/04/2018 2:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[mahoadon] [int] NOT NULL,
	[masanpham] [int] NOT NULL,
	[soluong] [int] NULL,
	[dongia] [float] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[mahoadon] ASC,
	[masanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 23/04/2018 2:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[mahoadon] [int] IDENTITY(1,1) NOT NULL,
	[makh] [int] NULL,
	[ngaydat] [datetime] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[mahoadon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 23/04/2018 2:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[makh] [int] IDENTITY(1,1) NOT NULL,
	[tenkhachhang] [nvarchar](250) NULL,
	[taikhoan] [nvarchar](250) NULL,
	[matkhau] [nvarchar](250) NULL,
	[sodienthoai] [nvarchar](250) NULL,
	[diachi] [nvarchar](250) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 23/04/2018 2:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[maloai] [int] NOT NULL,
	[tenloai] [nvarchar](250) NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 23/04/2018 2:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[mansx] [int] NOT NULL,
	[tennsx] [nvarchar](250) NULL,
 CONSTRAINT [PK_NHASANXUAT] PRIMARY KEY CLUSTERED 
(
	[mansx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 23/04/2018 2:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[masanpham] [int] IDENTITY(1,1) NOT NULL,
	[mansx] [int] NULL,
	[maloai] [int] NULL,
	[tensanpham] [nvarchar](250) NULL,
	[giaban] [float] NULL,
	[ngaycapnhat] [datetime] NULL,
	[hinhsanpham] [nvarchar](250) NULL,
	[thongtin] [ntext] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[masanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ADMIN] ([username], [password]) VALUES (N'mrjackvnn', N'0972612950')
INSERT [dbo].[CHITIETHOADON] ([mahoadon], [masanpham], [soluong], [dongia]) VALUES (0, 1, 1, 470000)
INSERT [dbo].[CHITIETHOADON] ([mahoadon], [masanpham], [soluong], [dongia]) VALUES (0, 5, 2, 1020000)
INSERT [dbo].[CHITIETHOADON] ([mahoadon], [masanpham], [soluong], [dongia]) VALUES (0, 16, 4, 1200000)
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([mahoadon], [makh], [ngaydat]) VALUES (0, 0, CAST(N'2018-04-15T23:49:11.917' AS DateTime))
INSERT [dbo].[HOADON] ([mahoadon], [makh], [ngaydat]) VALUES (1, 0, CAST(N'2018-04-16T00:43:05.167' AS DateTime))
INSERT [dbo].[HOADON] ([mahoadon], [makh], [ngaydat]) VALUES (2, 0, CAST(N'2018-04-16T20:50:34.840' AS DateTime))
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([makh], [tenkhachhang], [taikhoan], [matkhau], [sodienthoai], [diachi]) VALUES (0, N'Hồ Sĩ An Sơn', N'mrjackvnn', N'0972612950', N'0972612950', N'102 Ham Nghi')
INSERT [dbo].[KHACHHANG] ([makh], [tenkhachhang], [taikhoan], [matkhau], [sodienthoai], [diachi]) VALUES (2, N'asdasdasd', N'asdasdasd', N'213123123', N'123123123', N'asdasddq2')
INSERT [dbo].[KHACHHANG] ([makh], [tenkhachhang], [taikhoan], [matkhau], [sodienthoai], [diachi]) VALUES (3, N'as123', N'123asd', N'123asd', N'123asd', N'123asd')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
INSERT [dbo].[LOAISANPHAM] ([maloai], [tenloai]) VALUES (1, N'Chuột')
INSERT [dbo].[LOAISANPHAM] ([maloai], [tenloai]) VALUES (2, N'Bàn Phím')
INSERT [dbo].[LOAISANPHAM] ([maloai], [tenloai]) VALUES (3, N'Tai Nghe')
INSERT [dbo].[NHASANXUAT] ([mansx], [tennsx]) VALUES (1, N'Logitech')
INSERT [dbo].[NHASANXUAT] ([mansx], [tennsx]) VALUES (2, N'Razer')
INSERT [dbo].[NHASANXUAT] ([mansx], [tennsx]) VALUES (3, N'Steel Series')
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([mahoadon])
REFERENCES [dbo].[HOADON] ([mahoadon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_SANPHAM] FOREIGN KEY([masanpham])
REFERENCES [dbo].[SANPHAM] ([masanpham])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([makh])
REFERENCES [dbo].[KHACHHANG] ([makh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISANPHAM] FOREIGN KEY([maloai])
REFERENCES [dbo].[LOAISANPHAM] ([maloai])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHASANXUAT] FOREIGN KEY([mansx])
REFERENCES [dbo].[NHASANXUAT] ([mansx])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHASANXUAT]
GO
USE [master]
GO
